# Demonstrate identifying missing subject terms program

- Use sample description and apoSubject data to identify missing subject terms. 
- Identifying missing subject terms program process as follows:
    1. Read apoDescriptions and apoSubject data files
    2. Extract text from apoDescription data
    3. Divide subject terms into uppercase and lowercase
    4. Apply regular expressions to search uppercase and lowercase subject terms in text respectively

**Set parameters in params/param.dat**

- DESCRIPTION_DATA: directory of description data (e.g. ../data/apoDescriptions.csv)
- SUBJECT_TERM_DATA: directory of subject data (e.g. ../data/apoSubjects.csv)
- OUTPUT_DIR : directory of output data files (e.g. ../data)

In [1]:
# param.dat

DESCRIPTION_DATA = '../../data/apoDescriptions.csv'
SUBJECT_TERM_DATA = '../../data/apoSubjects.csv'
OUTPUT_DIR = '../../data'

## Excute program

In [2]:
!python main.py params/param.dat

## Input data

**apoDescriptions.csv**
- Data contains Nid, title, description, summary, subject(s), and New subjects columns. 
    - Nid: unique ID for the article
    - Title: title of the article
    - Description: description of the acticle
    - Summary: summary of the article
    - Subject(s): subject terms assigned to the article by APO curators

In [3]:
import pandas as pd

d_df = pd.read_csv(DESCRIPTION_DATA, sep=',', encoding='utf-8')
d_df

,Nid,Title,Description,Summary,Subject(s)
0,200,Improving Indigenous completion rates in mains...,Indigenous engagement with vocational educatio...,NaN,Aboriginal Australians
1,248,Trapped in the Aboriginal reality show,The very public debate about child abuse is li...,NaN,Aboriginal Australians
2,332,Rheumatic heart disease: all but forgotten in ...,This bulletin describes the population pattern...,NaN,Aboriginal Australians
3,383,Indigenous people in the Alice Springs town camps,Will Sanders analyses 2001 Census data relatin...,NaN,Aboriginal Australians
4,418,Commonwealth expenditure on Indigenous affairs...,Identifiable Commonwealth expenditure in the a...,NaN,Aboriginal Australians
...,...,...,...,...,...
95,30211,Indigenous Australian-Indonesian intermarriage,This story of Indigenous Australian-Indonesian...,NaN,Aboriginal Australians
96,31555,Indigenous language usage,This paper analyses data on those Aboriginal a...,NaN,Aboriginal Australians
97,32058,Victorian Aboriginal affairs framework 2013–2018,The Victorian Government has developed a stren...,NaN,Aboriginal Australians
98,32373,Most read research: Indigenous 2012,The five most viewed research reports and comm...,NaN,Aboriginal Australians
99,33296,Victorian Government Aboriginal affairs report...,"On 22 November 2012, the Victorian Aboriginal ...",NaN,Aboriginal Australians

 **apoSubjects.csv**
- Data contains Term ID and Term
    - Term ID: unique id of subject term
    - Term: subject term

In [4]:
s_df = pd.read_csv(SUBJECT_TERM_DATA, sep=',', encoding='utf-8')
s_df

     Term ID                            Term
0     82,566        21st Century work skills
1     64,436                              2G
2     52,611                              3G
3     52,616                        457 Visa
4     82,481  5G telecommunications networks
...      ...                             ...
5720  72,151                      zero waste
5721  67,926             Zero-carbon housing
5722  64,416        Zero-day vulnerabilities
5723  67,026                            zika
5724  64,421                            Zoos

[5725 rows x 2 columns]

## Output data

- **missing_subject_terms.csv**
- Data contains Nid, Subject(s), and missed_subject_terms
    - Nid: unique id for the article
    - Subject(s): subject terms assigned to the article by APO curators
    - missed_subject_terms: subject terms assigned to the article by program

In [5]:
output = pd.read_csv(OUTPUT_DIR + "/missing_subject_terms.csv", sep=',', encoding='utf-8')
output

,Nid,Subject(s),missed_subject_terms
0,200,Aboriginal Australians,"['TAFE', 'VET', 'indigenous', 'action research..."
1,248,Aboriginal Australians,"['abuse', 'child abuse', 'media', 'public serv..."
2,332,Aboriginal Australians,"['heart disease', 'data', 'databases', 'fever'..."
3,383,Aboriginal Australians,"['indigenous', 'census', 'census data', 'data'..."
4,418,Aboriginal Australians,"['commonwealth', 'indigenous', 'indigenous aff..."
...,...,...,...
95,30211,Aboriginal Australians,"['citizenship', 'australian history', 'history..."
96,31555,Aboriginal Australians,"['indigenous', 'population', 'data', 'distribu..."
97,32058,Aboriginal Australians,"['government', 'closing the gap', 'culture', '..."
98,32373,Aboriginal Australians,"['APO', 'indigenous', 'research', 'closing the..."
99,33296,Aboriginal Australians,"['government', 'accountability', 'victoria', '..."